@import 'colors';
@import 'screenSizes';



.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.productDetails {
    padding: 1.5rem;



    .header {
        .companyName {
            color: $orange;
            font-size: .8rem;
            font-weight: 600;
            letter-spacing: .1rem;
        }

        .productName {
            padding-top: 1rem;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }

    .productDescription {
        padding-top: 2rem;
        color: $dark-greyish-blue;
        line-height: 1.5rem;

    }

}


@include lg {
    .productPage {
        gap: 6%;
        flex-direction: row;
        margin: auto;
        max-width: 75%;
        padding-top: 5rem;
    }

    .productDetails {
        max-width: 60ch;

    }
}

@include md {
    .productPage {
        gap: 6%;
        flex-direction: column;
        margin: auto;
        max-width: 75%;
        padding-top: 5rem;
    }
}