@import 'colors';

.productPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productDetails {
    padding: 1.5rem;


    .header {
        .companyName {
            color: $orange;
            font-size: .8rem;
            font-weight: 600;
            letter-spacing: .1rem;
        }

        .productName {
            padding-top: 1rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .productDescription {
        padding-top: 1rem;
        color: $dark-greyish-blue;
        line-height: 1.5rem;
    }

}

@media (min-width: 798px) {
    .productPage {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .productDetails {
        max-width: 50ch;
    }

}