@import 'colors';
@import 'screenSizes';

.nav {

    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.3rem;

    .menuWrapper {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 3;
        animation: fade-in 200ms;
    }

    .mobileNav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
        right: 30%;
        gap: 2rem;
        animation: menu-slide 200ms;

        background-color: $light-greyish-blue;
        padding: 1rem;

        .delete {
            margin-bottom: 2rem;
            padding: 1rem;

        }

        button {
            padding: 0 1rem 0 1rem;
            color: $black;
            font-weight: 700;
            background: none;
            border: none;
            cursor: pointer;
        }
    }



    div {
        display: flex;
        align-items: flex-end;
        gap: 1rem;

        .menu {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
        }

        .navLinks {
            display: none;
            padding-bottom: auto;
            margin-left: 2rem;
            gap: 2rem;

            * {
                display: flex;
                flex-grow: 1;
                background: none;
                border: none;
                color: $dark-greyish-blue;

            }
        }

    }

    .clientContent {
        position: relative;
        gap: 2rem;

        .cart {


            .amountPing {
                font-size: .8rem;
                color: $white;
                position: absolute;
                transform: translateX(35%) translateY(-50%);
                background-color: $orange;
                padding: .1rem .4rem .1rem .4rem;
                border-radius: 15px;
                animation: ping 100ms;

            }

            button {
                background: none;
                border: none;
                cursor: pointer;
            }

            .cartPopup {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: fixed;
                inset: 0;
                margin-top: 4rem;
                margin-left: auto;
                margin-right: auto;

                background-color: $white;
                border-radius: 15px;
                box-shadow: 0 25px 30px -15px rgba(0, 0, 0, .4);
                aspect-ratio: 16/ 9;
                max-width: 35ch;
                padding: 1rem;
                z-index: 2;
                animation: fade-in 200ms;

                .header {
                    align-self: flex-start;
                    font-weight: 700;
                }

                .purchase {
                    display: flex;
                    flex-direction: column;
                    padding-top: 1rem;
                    border-top: 1px solid $grayish-blue;


                    .empty {
                        color: $dark-greyish-blue;


                    }

                    .wrapper {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .productImg {
                            border-radius: 5px;
                        }

                        .info {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            font-size: .9rem;


                            p span {
                                font-weight: 800;
                            }

                        }
                    }

                    .checkout {
                        background-color: $orange;
                        width: 100%;

                        padding: 1rem 0 1rem 0;
                        border-radius: 10px;


                    }
                }

            }
        }
    }
}

@include lg {
    .nav {
        min-width: 65%;
        max-width: 55rem;

        padding: 3rem 0 3rem 0;

        border-bottom: solid 1px $grayish-blue;

        .menuWrapper {
            display: none;
        }

        div {
            .menu {
                display: none;
            }

            .navLinks {
                display: flex;
            }

        }

        .clientContent {
            .cart .cartPopup {
                margin-top: 6rem;
                margin-right: 10rem;


            }
        }

    }
}

@include md {
    .nav {
        justify-content: space-around;
        border-bottom: solid 1px $grayish-blue;

        .clientContent {
            .cart .cartPopup {

                margin-right: 5rem;
                margin-left: auto;
            }
        }
    }


}

@keyframes menu-slide {
    0% {

        transform: translateX(-100%);
    }

    100% {

        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ping {
    0% {
        padding: .1rem .6rem .1rem .6rem;
    }

    100% {
        padding: .1rem .4rem .1rem .4rem;
    }
}