@import 'colors';

.nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 1.3rem;



    div {
        display: flex;
        align-items: flex-end;



        * {
            margin: 0 .65rem;

        }
    }
}

@media (min-width: 798px) {
    .nav {
        max-width: 80%;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3rem;
        border-bottom: solid 1px $grayish-blue;

    }
}