@import 'colors';
@import 'screenSizes';

@mixin buttonStyles {
    background-color: $white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    padding: 1.2rem;
    margin: 1.5rem;
}

@mixin thumbnailLayout {

    .wrapper {
        min-width: 35ch;
        max-width: 45ch;
        gap: 1.5rem;

        .product {

            .imgButton {
                background: none;
                border: none;
                cursor: pointer;
            }



            .img {
                aspect-ratio: 1/1;
                border-radius: 10px;

            }

            .btnPrevious {
                display: none;
            }

            .btnNext {
                display: none;


            }

        }

        .thumbnails {
            display: flex;
            justify-content: space-between;

            button {
                flex-basis: 19%;
                aspect-ratio: 1/1;
                max-width: 100%;
                background: none;
                border: none;
                background-color: $white;


                cursor: pointer;

                img {
                    border-radius: 10px;


                }

            }

        }
    }

}

.lightbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    z-index: 3;
    gap: 2rem;
    background-color: rgba(0, 0, 0, .8);

    .close {
        margin-left: 30rem;
        border: none;
        cursor: pointer;
        background: none;
    }

    .imgWrapper {


        display: flex;
        position: relative;
        min-width: 30rem;
        max-width: 30%;




        .img {
            aspect-ratio: 1/1;
            border-radius: 10px;
            width: 100%;

        }

        .btnPrevious {
            @include buttonStyles;
            position: absolute;
            left: -8%;
            top: 40%;


        }

        .btnNext {
            @include buttonStyles;
            position: absolute;
            right: -8%;
            top: 40%;

        }

    }

    .thumbnails {
        display: flex;
        justify-content: center;
        gap: 2rem;

        button {
            flex-basis: 10%;
            aspect-ratio: 1/1;
            max-width: 100%;
            background: none;
            border: none;
            background-color: $white;
            border-radius: 10px;


            cursor: pointer;

            img {
                border-radius: 10px;


            }

        }
    }




}


.wrapper {
    display: flex;
    flex-direction: column;

    .product {
        display: flex;
        align-items: center;
        position: relative;


        .img {
            object-fit: cover;
            aspect-ratio: 11.2 / 9;
        }

        .btnPrevious {
            @include buttonStyles;
            position: absolute;
            left: 0;
        }

        .btnNext {
            @include buttonStyles;
            position: absolute;
            right: 0;
        }
    }

    .thumbnails {
        display: none;
    }
}


@include lg {
    @include thumbnailLayout;
}

@include md {
    @include thumbnailLayout;

    .wrapper {
        flex-direction: row;

        .thumbnails {
            flex-direction: column;
        }
    }
}

.imgSelected {
    filter: opacity(30%);
    border: solid 2px $orange;
}