@import 'colors';

@mixin buttonStyles {
    background-color: $white;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    padding: 1rem;
    margin: .8rem;
}

.product {
    display: flex;
    align-items: center;
    position: relative;


    .img {
        object-fit: cover;
        aspect-ratio: 11.2 / 9;
    }

    .btnPrevious {
        @include buttonStyles;
        position: absolute;
        left: 0;
    }

    .btnNext {
        @include buttonStyles;
        position: absolute;
        right: 0;


    }



}

@media (min-width: 798px) {
    .product {
        max-width: 40ch;


        .img {
            aspect-ratio: 1/1;
            border-radius: 10px;

        }

        .btnPrevious {
            display: none;
        }

        .btnNext {
            display: none;


        }

    }


}